# If we are a computer with nix-shell available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  watch_file nix/{devShell,package,wraptest}.nix
  use flake
fi

source_env_if_exists .envrc.local
