*.o
*~
*.diff
*.patch
*.core
core
tags
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
cscope.out
cscope.in.out
cscope.po.out
cscope.files
.deps/
compat/.dirstamp
aclocal.m4
autom4te.cache/
config.log
config.status
etc/
tmux
Makefile
Makefile.in
configure
tmux.1.*
*.dSYM
cmd-parse.c
