*.core
*.dSYM
*.diff
*.o
*.patch
*.swp
*~
.deps/
.dirstamp
.serena/
AGENTS.md
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cmd-parse.c
compat/.dirstamp
config.log
config.status
configure
core
etc/
fuzz/*-fuzzer
regress/logs/
tags
tmux
tmux.1.*
