Bob Beck		<beck@openbsd.org> beck <beck>
Claudio Jeker		<claudio@openbsd.org> claudio <claudio>
Igor Sobrado		<sobrado@openbsd.org> sobrado <sobrado>
Ingo Schwarze		<schwarze@openbsd.org> schwarze <schwarze>
Jacek Masiulaniec	<jacekm@openbsd.org> jacekm <jacekm>
Jason McIntyre		<jmc@openbsd.org> jmc <jmc>
Joel Sing		<jsing@openbsd.org> jsing <jsing>
Jonathan Gray		<jsg@openbsd.org> jsg <jsg>
Kenneth R Westerback	<krw@openbsd.org> krw <krw>
Marc Espie		<espie@openbsd.org> espie <espie>
Matthew Dempsky		<matthew@openbsd.org> matthew <matthew>
Matthias Kilian		<kili@openbsd.org> kili <kili>
Matthieu Herrb		<matthieu@openbsd.org> matthieu <matthieu>
Michael McConville	<mmcc@openbsd.org> mmcc <mmcc>
Miod Vallat		<miod@openbsd.org> miod <miod>
Nicholas Marriott	<nicholas.marriott@gmail.com> Nicholas Marriott <nicm@openbsd.org>
Nicholas Marriott	<nicholas.marriott@gmail.com> nicm <nicm>
Nicholas Marriott	<nicholas.marriott@gmail.com> no_author <no_author@example.org>
Okan Demirmen		<okan@openbsd.org> okan <okan>
Philip Guenther		<guenther@openbsd.org> guenther <guenther>
Pierre-Yves Ritschard	<pyr@openbsd.org> pyr <pyr>
Ray Lai			<ray@openbsd.org> ray <ray>
Ryan McBride		<mcbride@openbsd.org> mcbride <mcbride>
Sebastian Benoit	<benno@openbsd.org> benno <benno>
Sebastien Marie		<semarie@openbsd.org> semarie <semarie>
Stefan Sperling		<stsp@openbsd.org> stsp <stsp>
Stuart Henderson	<sthen@openbsd.org> sthen <sthen>
Ted Unangst		<tedu@openbsd.org> tedu <tedu>
Theo de Raadt		<deraadt@openbsd.org> Theo Deraadt <deraadt@openbsd.org>
Theo de Raadt		<deraadt@openbsd.org> deraadt <deraadt>
Thomas Adam		<thomas@xteddy.org> Thomas <thomas@xteddy.org>
Thomas Adam		<thomas@xteddy.org> Thomas Adam <thomas.adam@smoothwall.net>
Thomas Adam		<thomas@xteddy.org> n6tadam <n6tadam@xteddy.org>
Tim van der Molen	<tim@openbsd.org> tim <tim>
Tobias Stoeckmann	<tobias@openbsd.org> tobias <tobias>
Todd C Miller		<millert@openbsd.org> millert <millert>
William Yodlowsky	<william@openbsd.org> william <william>
