Bob Beck 		<beck@openbsd.org> beck <beck>
Igor Sobrado 		<sobrado@openbsd.org> sobrado <sobrado>
Jacek Masiulaniec 	<jacekm@openbsd.org> jacekm <jacekm>
Jason McIntyre 		<jmc@openbsd.org> jcm <jcm>
Joel Sing		<jsing@openbsd.org> jsing <jsing>
Marc Espie 		<espie@openbsd.org> espie <espie>
Matthew Dempsky 	<matthew@openbsd.org> matthew <matthew>
Matthias Kilian 	<kili@openbsd.org> kili <kili>
Matthieu Herrb 		<matthieu@openbsd.org> matthieu <matthieu>
Miod Vallat 		<miod@openbsd.org> miod <miod>
Nicholas Marriott 	<nicm@openbsd.org> nicm <nicm>
Nicholas Marriott 	<nicm@openbsd.org> no_author <no_author@example.org>
<nicm@openbsd.org>	<nicholas.marriott@gmail.com>
Okan Demirmen 		<okan@openbsd.org> okan <okan>
Philip Guenther		<guenther@openbsd.org> guenther <guenther>
Pierre-Yves Ritschard 	<pyr@openbsd.org> pyr <pyr>
Ray Lai 		<ray@openbsd.org> ray <ray>
Ryan McBride		<mcbride@openbsd.org> mcbride <mcbride>
Stefan Sperling 	<stsp@openbsd.org> stsp <stsp>
Stuart Henderson 	<sthen@openbsd.org> sthen <sthen>
Ted Unangst 		<tedu@openbsd.org> tedu <tedu>
Theo Deraadt 		<deraadt@openbsd.org> deraadt <deraadt>
Thomas Adam		<thomas@xteddy.org> Thomas <thomas@xteddy.org>
William Yodlowsky 	<william@openbsd.org> william <william>
