Source: xterm-dev
Section: x11
Priority: optional
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Homepage: http://invisible-island.net/xterm/
Build-Depends: debhelper (>= 7), xorg-docs-core
Standards-Version: 3.8.2

Package: xterm-dev
Architecture: any
Depends: xbitmaps, libc6 (>= 2.11), libfontconfig1 (>= 2.9.0), libice6 (>= 1:1.0.0), libtinfo5, libutempter0 (>= 1.1.5), libx11-6, libxaw7, libxft2 (>> 2.1.1), libxmu6, libxt6
Provides: x-terminal-emulator
Recommends: x11-utils | xutils | bluit
Description: X terminal emulator (development version)
 xterm is the standard terminal emulator for the X Window System.
 It provides DEC VT102 and Tektronix 4014 compatible terminals for
 programs that cannot use the window system directly.  This version
 implements ISO/ANSI colors, Unicode, and most of the control sequences
 used by DEC VT220 terminals.
 .
 This package contains a development version of xterm.  It is
 configured to use "xterm-dev" and "XTermDev" for the program
 and its resource class, to avoid conflict with other packages.
