body {
    font-family: Sans-Serif;
    font-size: 10pt;
    background-color: white;
}
#body-wrapper {
    overflow: auto;
}
#upper-left-title {
    font-size:xx-large;
    margin-top: 0;
}
#left-menu li {
    list-style: none;
    margin-top: 1em;
}
.menu-headings {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 0.5em;
}
#left-menu-container {
    padding-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    border-right: 3px solid black;
    text-align: right;
    width: 12em;
    float: left;
}
#main-content-wrapper {
    margin-left: 2em;
    margin-right: 4em;
}
#main-content-wrapper li {
    list-style: disc;
    margin-left: 12em
}
#screenshots {
    text-align: center;
    margin: 1em;
    margin-left: 10em;
}
#screenshots img {
    text-align: center;
    margin: 0.5em;
}

