# Hand-written seed corpus: binary files, track as-is
corpus/parser-initial/** binary
corpus/stream-initial/** binary

# Generated/minimized corpora: binary, mark as generated
corpus/parser-cmin/** binary linguist-generated=true
corpus/parser-min/** binary linguist-generated=true
corpus/stream-cmin/** binary linguist-generated=true
corpus/stream-min/** binary linguist-generated=true
