<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAutoFillRequiresTextContentTypeForOneTimeCodeOnMac</key>
	<true/>
	<key>NSDockTilePlugIn</key>
	<string>DockTilePlugin.plugin</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>tool</string>
				<string>sh</string>
				<string>zsh</string>
				<string>csh</string>
				<string>pl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
		</dict>
	</array>
	<key>GhosttyBuild</key>
	<string></string>
	<key>GhosttyCommit</key>
	<string></string>
	<key>LSEnvironment</key>
	<dict>
		<key>GHOSTTY_MAC_LAUNCH_SOURCE</key>
		<string>app</string>
	</dict>
	<key>MDItemKeywords</key>
	<string>Terminal</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>Ghostty.sdef</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New $(INFOPLIST_KEY_CFBundleDisplayName) Tab Here</string>
			</dict>
			<key>NSMessage</key>
			<string>openTab</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New $(INFOPLIST_KEY_CFBundleDisplayName) Window Here</string>
			</dict>
			<key>NSMessage</key>
			<string>openWindow</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>wsNcGf5hirwtdXMVnYoxRIX/SqZQLMOsYlD3q3imeok=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.mitchellh.ghosttySurfaceId</string>
			<key>UTTypeDescription</key>
			<string>Ghostty Surface Identifier</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
